// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import "../node_modules/bootstrap/scss/bootstrap";
ul{
  background-color: blue;
}
li{
  background-color: blue;
  color: blue;
  
}
a{
  background-color: blue;
}